run = "echo hello"

[env]
PATH = "$REPL_HOME/bin"

[nix]
channel = "stable-23_05"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

  [packager.features]
  enabledForHosting = false
  # Enable searching packages from the sidebar.
  packageSearch = true
  # Enable guessing what packages are needed from the code.
  guessImports = true
